$blue: #0d6989;
$yello: #f0c751;

$Gotham-Black: "Gotham Black", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;

body {
    font-family: $Gotham-Black;
}